body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

.donet-now {
    text-align: center;
    color: white;
    width: 60%;
    padding: 20%;
    align-items: center;
    justify-content: center;


}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.donet0 {

    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}